/* 作成日：2026/06/12
 * 作成者：佐藤
 * 更新者：服部
 * 更新日：2026/06/22 */

@charset "UTF-8";

/*ヘッダー*/
.header {
	display: flex;
	align-items: center;
	background-color: #ffffff;
	position: sticky;
	top: 0;
	z-index: 1000;
}

form[id='logout-form'] {
	margin: 0 20px 0 auto;
}

#form-logout {
	font-size: 12px;
	width: auto;
	padding: 3px 12px 3px 12px;
	border-radius: 30px;
	color: #FFFFFF;
	background-color: indianred;
	border: 1.5px solid #800000;
}

/* 目的題名 */
.purpose-title {
	padding-top: 20px;
	padding-left: 10px;
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: 25px;
}

.purpose-title img, .img-title img {
	width: 40px;
	margin: 0;
}

/* 目的・目標金額・貯金額表示欄 */
.purpose-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: auto;
	padding: 15px 20px 20px 35px;
	margin: 15px 5%;
	font-weight: bold;
	background-color: #feffee;
	border: solid 3px #ffea7e;
	border-radius: 30px;
	gap: 10px;
}

/* 目的表示 */
.purpose {
	margin: 10px auto 10px 0;
	font-size: 20px;
	font-weight: 400;
	
}

.purpose ul {
	margin: 0;
	padding-left: 20px;
	list-style-type: square;
}

/* 目標金額と貯金額のテーブル */
.purpose-table {
	margin: 0 auto;
	border-collapse: collapse;
	font-size: 16px;
	background-color: cornsilk;
	width: 90%;
}

td {
	border: 1.7px solid #999;
	text-align: center;
}

.target-amount, .saving-amount {
	text-align: right;
	padding-right: 10px;
}

.saving-title {
	font-weight: normal;
	width: 45%;
}

.saving-amount {
	font-weight: normal;
	width: 55%;
}

/* 画像設定コンテンツ(後からできたらやる部分) */
.img-title {
	display: flex;
	align-items: center;
	margin: 50px 0 15px 10px;
	gap: 8px;
	font-size: 20px;
	color: rgb(55, 55, 55);
}
.img-input {
	max-width: 100%;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2%;
}
input[type="file"]{
	transform: translateX(15%);
	font-size: 10px;
}

.up-load {
	transform: translateX(-20%);
	font-size: 10px;
	width: auto;
	padding: 3px 10px 3px 10px;
	border-radius: 30px;
	color: black;
	background-color: #f0f8ff;
	border: 1.5px solid #00a1e9;
	text-align: center;
}
.img-item {
	display: flex;
	margin: 5% 0 0 10%;
	align-items: center;
	gap: 30px;
	margin-bottom: 15px;
}

.img {
	max-width: 70%;
	width: auto;
	height: auto;
}

.img-item button {
	border: none;
	background: none;
	padding: 0;
}

.dust-box {
	width: 25px;
}

.mypage-message-area {
	margin: 0 auto 40px 9%;
}
.error {
	font-size: 15px;
	color: #FF0000;
}