/* 作成日：2026/06/18
 * 作成者：佐藤
 * 更新日：2026/06/22
 * 更新者：服部 */
 
@charset "UTF-8";

/*ヘッダー*/
.header {
	display: flex;
	align-items: center;
}

.year-month-boxs {
	display: flex;
	margin: 0 20px 0 auto;
}

.year-box {
	margin-right: 10px;
}

/*メイン*/
/* 検索バー */
.input-box {
	display: flex;
	align-items: center;
	padding-top: 15px;
	width: 100%;
	justify-content: center;
}

.input {
	width: 55%;
	height: 30px;
}

.search-btn {
	width: 30px;
}

button {
	border: none;
	background: none;
	padding: 0;
}

/* 並び替え */
.sort {
	text-align: right;
	padding-left: 3%;
}

.sort, .sort select {
	font-size: 16px;
}

/* 収支と貯蓄合計 */
.sum-box {
	margin-bottom: 5%;
	display: flex;
	white-space: nowrap;
	justify-content: space-evenly;
	text-align: center;
	font-size: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-top: 30px;
}

.sum {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30%;
}

.income {
	color: #00b9ef;
}

.expense {
	color: #ef0000;
}

.income, .expense, .saving {
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}
/* 収支表示 */
.search-table {
	padding-top: 20px;
}

.date-block {
	margin: 15px 5%;
	height: auto;
	background-color: #feffee;
	border: solid 2px #ffea7e;
	border-radius: 8px;
}

.date-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 20px;
}

.date-header-left {
	display: flex;
	gap: 30px;
}

.arrow {
	display: block;
	opacity: 1;
	width: 30px;
	margin-right: 10px;
}

/* 詳細 */
.date-detail {
	position: relative;
	display: none;
	margin: 3% 5%;
	padding-left:10px;
	align-items: center;
	justify-content: center;
	width: 90%;
	height: 30px;
	background-color: #ffffff;
	border: solid 2px #ffea7e;
	border-radius: 8px;

}

.bp {
	display: flex;
	align-items: center;
	height: 100%;
	gap: 8px;
}

.bp > span {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 90px;
	text-align: left;
	font-size: 11px;
	flex-shrink: 0;
	font-weight: 450;
}
.bp-right {
	width: 60px;
	font-weight: 500;
	font-size: 11px;
}

.bp > span.memo {
	font-size: 9px;
	font-weight: 350;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	flex: 1;
	min-width: 0;
}
/* 隠しメニュー表示ボタン */
.menu-btn {
	margin-left: auto;
	margin-right: 5px;
	width: 22px;
	height: 22px;
	cursor: pointer;
}
.menu-btn.clicked {
	background-color: #eaeaea;
	border-radius: 50px;
}
.menu {
	position: absolute;
	display: flex;
	display: none;
	flex-direction: column;
	align-items: flex-end;
	margin-top: -5px;
	right: 0;
	text-align: right;
	margin-right: 20px;
	z-index: 1000;
	border: 1px solid #0080ff;
	border-radius: 5px;
}
.btn {
	color: black;
	padding: 5px 8px;
	background-color: #ffffff;
	border: none;
	border-radius: 5px;
}
#delete {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top: 0.8px solid #0080ff;
	color: #ff0000;
}
#more button {
	margin-top: 5%;
	color: blue;
	text-decoration: underline;
	width: 100%;
	text-align: center;
}